.node {
  width: 20px;  
  height: 20px; 
  background-color: white;
  border: 2px solid black; 
}

.node.start {
  background-color: green;
}

.node.end {
  background-color: red; 
}

.node.visited {
  background-color: blue;
}

.node.path {
  background-color: yellow;
}

.node.wall {
  background-color: black;
}