/* .App {
  display: flex;
  flex-direction: column;
  height: 100vh;           
  background-color: blue;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
} */
